<div ng-controller="ExtrasController" ng-class='extrasPage'>
	<div ng-class='extra'>
		<div ng-class='imgContainerExtras'>
			<img src="../images/img02.jpg">
		</div>
		<div ng-class='textContainerExtras'>
			<p>Къщата разполага с 9 места за настаняване, 2 бани. Електричеството се осигурява от агрегат.</p>
			<p>Обща цена на къщата за вечер през всички сезони: 150 лв.</p>
		</div>
	</div>
	<div ng-class='extra'>
		<div ng-class='imgContainerExtras'>
			<img src="../images/img36.jpg">
		</div>
		<div ng-class='textContainerExtras'>
			<p>За забавлението на децата имаме детска къщичка, люлки и други забавления.</p>
		</div>
	</div>
	<div ng-class='extra'>
		<div ng-class='imgContainerExtras'>
			<img src="../images/img38.jpg">
		</div>
		<div ng-class='textContainerExtras'>
			<p>Тук може да се насладите на вкусните гозби, приготвени от домакините, също ястия на пещ и барбекю, ръчно приготвен хляб изпечен в пещ. Винаги има прясна балканска пъстърва. По предварителна заявка приготвяме в пещта пълнено агне, телешка глава, малко прасенце и други вкуснотийки.</p>
			<p>Цена по договаряне.</p>
		</div>
	</div>
	<div ng-class='extra'>
		<div ng-class='imgContainerExtras'>
			<img src="../images/img74.jpg">
		</div>
		<div ng-class='textContainerExtras'>
			<p>Може да отпразнувате вашите празници в механата, с която разполага къщата, както и на открито в прохладата на балкана.</p>
		</div>
	</div>
	<div ng-class='extra'>
		<div ng-class='imgContainerExtras'>
			<img src="../images/img99.jpg">
		</div>
		<div ng-class='textContainerExtras'>
			<p>По ваше желание организираме пикници, разходки в планината до Зелениковски манастир, резерват Стенето, Крали Марковата дупка, х. Амбарица и други маршрути.</p>
		</div>
	</div>
	<div ng-class='extra'>
		<div ng-class='imgContainerExtras'>
			<img src="../images/P1030740.JPG">
		</div>
		<div ng-class='textContainerExtras'>
			<p>В село Черни Осъм се намира големият Природо - научен музей, събрал над 700 експоната на животинския свят.</p>
		</div>
	</div>
	<div ng-class='extra'>
		<div ng-class='imgContainerExtras'>
			<img src="../images/P1030525.JPG">
		</div>
		<div ng-class='textContainerExtras'>
			<p>В близост е и третия по големина в България Троянски манастир.</p>
		</div>
	</div>
</div>