<div ng-controller="LocationController" ng-class='locationPage'>
	<div id='map-canvas'>

	</div>
	<div ng-class='locationTextContainer'>
		<div>
			<p>В полите на Балкана, под върховете Амбарица (в.Левски) и Купена се намира махала Нешковци, една от махалите на с. Черни Осъм. Къщите се намират на 10 км от селото, сгушени дълбоко в планината, на границата с НП "Централен Балкан".</p> 
			<p>Дивата природа, заобикаляща "Горски рай", с неповторимата гледката към връх Амбарица, аромата на билките, песента на птиците и чистия планински въздух е идеалното място за почивка и отмора - далеч от градския шум и напрегнатото ежедневие.</p> 
			<p>Подходящо за хора, които обичат българската природа и планина. Запазен е духа на старите къщи в съчетание с битовото и модерното.</p>
		</div>
	</div>
</div>